*{
    background-color: rgb(57, 214, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    background-color: blue;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}
.sort{background-color: rgb(89, 116, 167);
    font-style: unset;
    font-weight: 700;
    font-color: rgb(199, 25, 25);
}